{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block container %}

<div class="d-flex justify-content-center">
    <div class="container-home d-flex justify-content-center">

        {% include 'main/left_panel.html' %}

        <div class="middle-panel col-lg-6 mt-5 d-flex flex-column justify-content-center align-items-center">
            <h2 class="mb-5 text-white">Create Group</h2>
            <div class="card pb-4 mb-5">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-info" name="create-group">Create</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}