{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block container %}

<div class="d-flex justify-content-center">
      <div class="container-home d-flex justify-content-center">

          {% include 'main/left_panel.html' %}
          <div class="middle-panel col-lg-6 mt-5 mr-2">
              <h1 class="mt-5 text-white">Profile</h1>
<!-- add post -->
              <form method="post" class="mt-5 new-post pb-3">
                  {% csrf_token %}
                  {{ create_post_form|crispy }}
                  <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-outline-info" name="post-submit">Post</button>
                  </div>
              </form>
<!-- posts -->
              {% for post in all_posts %}
              {% if post.username == username or post.user_profile_name == username %}
              <div class="all-posts card mt-5">
                  <div class="card-body">
                      <div class="profile-photo-comment mx-auto"><img src="{{ post.user_id.userinfo.profile_pic.url }}" alt="Profile picture"></div>
                      <h4 class="d-inline-flex ml-2 mr-2"><a href="{% url 'profile' post.username %}">{{ post.username }}</a></h4>
                      {% if post.user_profile_name != post.username %}
                      <h5 class="d-inline-flex">   ►   <a class="ml-2" href="{% url 'profile' post.user_profile_name %}">{{post.user_profile_name}}</a></h5>
                      {% endif %}
                      <p class="d-inline-flex ml-3">{{ post.date }} {{ post.time }}</p>
                      {% if current_user.username == post.user_profile_name or current_user.username == post.username %}
                      <form action="{% url 'delete_post' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" value="{{post.id}}" name="post">
                          <button class="delete" type="submit" name="delete_post">
                              <img src="{% static 'images/delete.png' %}"></button>
                      </form>
                      {% if current_user.username == post.username %}
                      <a href="{% url 'edit_post' post.id %}"><button class="edit" type="submit" name="edit_post">
                          <img src="{% static 'images/edit.png' %}"></button></a>
                      {% endif %}
                      {% endif %}
                      <p class="mt-2 ml-5">{{ post.post }}</p>
                  </div>
<!-- likes -->
                  <div class="d-inline-flex">
                      <form action="{% url 'post_like' post.id %}" method="GET">
                          {% csrf_token %}
                          {% if request.user in post.likes.all %}
                          <button type="submit" class="btn btn-sm like ml-3">
                              <img src="{% static 'images/heart.png' %}"></button>
                          {% else %}
                          <button type="submit" class="btn btn-sm like ml-3">
                              <img src="{% static 'images/favourite.png' %}"></button>
                          {% endif %}
                      </form>
                      {% if post.likes.all.count == 1 %}
                      <p class="mt-1 ml-2">{{ post.likes.all.count }} like</p>
                      {% else %}
                      <p class="mt-1 ml-2">{{ post.likes.all.count }} likes</p>
                      {% endif %}
                  </div>
<!-- add comment -->
                  <form method="post">
                      {% csrf_token %}
                      <div class="input-group">
                          <input type="hidden" name="post_id" value="{{ post.id }}">
                          {{ comment_form }}
                          <div class="input-group-append">
                              <button class="btn btn-outline-info" type="submit" name="comment-submit">Submit</button>
                          </div>
                      </div>
                  </form>
<!-- display comments -->
                  <div class="comments-scrollable">
                      {% for comment in comments %}
                          {% if comment.post_id_id == post.id %}
                          <div class="card-body divider-grey ml-5 mr-5">
                              <div class="profile-photo-comment mx-auto"><img src="{{ comment.user_id.userinfo.profile_pic.url }}" alt="Profile picture"></div>
                              <h5 class="d-inline-flex ml-2"><a href="{% url 'profile' comment.username %}">{{ comment.username }}</a></h5>
                              <p class="mt-2 ml-2">{{ comment.text }}</p>
                              {% if comment.post_id.user_id == request.user or comment.post_id.to_user == request.user or comment.user_id == request.user %}
                              <form action="{% url 'delete_comment' %}" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" value="{{comment.id}}" name="comment">
                                  <button class="delete-comment" type="submit" name="delete_comment">
                                      <img src="{% static 'images/delete.png' %}"></button>
                              </form>
                              {% endif %}
                          </div>
                          {% endif %}
                      {% endfor %}
                  </div>
              </div>
              {% endif %}
              {% endfor %}
<!-- right panel -->
                  <div class="right-panel mt-5 mb-5 ml-4">
                      {% if not profile_info.profile_pic %}
                          <div class="profile-photo mx-auto"><img src="{% static 'images/user.png' %}"></div>
                      {% else %}
                          <div class="profile-photo mx-auto"><img src="{{ profile_info.profile_pic.url }}" alt="Profile picture"></div>
                      {% endif %}
                      <div class="mt-3 d-flex justify-content-center">
                          {% if request.user.username == username %}
                              <form id="upload-form" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <label for="profile-photo-input" class="btn btn-outline-info">Upload photo</label>
                                  <input type="file" id="profile-photo-input" name="profile_photo" class="d-none">
                              </form>
                          {% else %}
                              {% if is_followed %}
                                  <a href="{% url 'unfollow' username %}"><button class="btn btn-outline-info">Unfollow</button></a>
                              {% else %}
                                  <a href="{% url 'follow' username %}"><button class="btn btn-info">Follow</button></a>
                              {% endif %}
                          {% endif %}
                      </div>
                      <div class="profile-info ml-4 mt-5">
                          <p class="d-inline-flex">Name:<p class="ml-3 d-inline-flex">{{ username }}</p></p>
                          <p class="d-inline-flex">Sex:<p class="ml-3 d-inline-flex">{{ profile_info.sex }}</p></p>
                          <p class="d-inline-flex">Date of birth:<p class="ml-3 d-inline-flex">{{ profile_info.date_of_birth }}</p></p>
                          <p class="d-inline-flex">Live in:<p class="ml-3 d-inline-flex">{{ profile_info.live_in }}</p></p>
                          <p class="d-inline-flex">Email:<p class="ml-3 d-inline-flex">{{ profile_info.email }}</p></p>
                          <p class="d-inline-flex">Phone:<p class="ml-3 d-inline-flex">{{ profile_info.phone }}</p></p>
                          <p class="d-inline-flex">Followers:<p class="ml-3 d-inline-flex">{{ profile_follows }}</p></p>
                          {% if current_user.username == username %}
                              <a href="{% url 'edit_profile' username %}"><img src="{% static 'images/edit.png' %}"></a>
                          {% endif %}
                      </div>
                  </div>
              </div>
      </div>
    </div>

<footer>
    <div class="mt-5"></div>
</footer>

<script>
    const form = document.getElementById('upload-form');
    const input = form.querySelector('input[type="file"]');

    input.addEventListener('change', () => {
        form.submit();
    });
</script>
{% endblock %}